* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    background-color: #81C784;
    padding: 20px;
    text-align: center;
  }
  
  header img.logo {
    max-width: 200px;
    height: 4rem;
  }
  
  header h1 {
    font-size: 15px;
    font-family: "Segoe Script";
    color: rgb(230, 226, 226);
  }
  
  nav {
    background-color: #43A047;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  

  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease-in-out;
  }
  
  nav ul li a:before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #720606;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
  }
  
  nav ul li a:hover {
    color: #000000;
  }
  
  nav ul li a:hover:before {
    transform: scaleX(1);
  }
  
  section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #e6e0e0;
    border-radius: 5px;
  }
  
  footer {
    background-color: #43A047;
    padding: 20px;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  footer img.logo {
    max-width: 50px;
    margin-right: 10px;
  }
  
  .services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .service {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
    background-color: #81C784;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  .service:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .service h3 {
    margin-top: 10px;
    color: #fff;
  }
  
  .service p {
    color: #fff;
  }
  
  .service img {
    max-width: 100%;
    height: auto;
  }
  
  .footer_logo {
    height: 4rem;
    width: auto;
  }
footer p{
    color: #e0e0e0;
}  